body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DDF2FD;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #164863;
    padding: 20px;
    text-align: center;
    width: 100%;
    color: #DDF2FD;
}

h1 {
    margin: 0;
}

.image-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.image-description {
    color: #427D9D;
    margin-left: 10px;
}

.main-container {
    text-align: center;
}


.login-container {
    background-color: #9BBEC8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 20px auto;
}

h2 {
    color: #164863;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #427D9D;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #427D9D;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #164863;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #427D9D;
}

.separator {
    margin: 10px 0;
    height: 1px;
    background-color: #427D9D;
}

.scan-button {
    padding: 10px;
    background-color: #164863;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scan-button:hover {
    background-color: #427D9D;
}
